<%# form_withはフォームを作成 %>
<%= form_with(model: greetion) do |form| %>
  <% if greetion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(greetion.errors.count, "error") %> prohibited this greetion from being saved:</h2>

      <ul>
        <% greetion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%# シンボルnameを指定して変数formのラベルを生成 %>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
