<p id="notice"><%= notice %></p>

<h1 class = "display-4">Greetions</h1>
<p>counts is <%=@greetions.count %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @greetions.each do |greetion| %>
      <tr>
        <td><%= greetion.name %></td>
        <td><%= greetion.message %></td>
        <%# 文字列Showと、変数greetionを指定してリンクを生成 %>
        <%# <a href = "/greetions/1">Show</a> %>
        <td><%= link_to 'Show', greetion %></td>
        <%# 文字列Editと、変数greetionを指定してgreetionの編集パスを生成し、それらを指定してリンクを生成 %>
        <%# <a href = "/greetions/1/edit">Edit</a> %>
        <td><%= link_to 'Edit', edit_greetion_path(greetion) %></td>
        <%# 文字列Destroyと変数greetionを指定し、引数methodにシンボルdeleteを指定し、引数dataにハッシュを指定してリンクを生成 %>
        <%# <a data-confirm = "Are you sure?" rel = "nofollow" data-method = "delete" href = "/greetions/1">Destroy</a> %>
        <td><%= link_to 'Destroy', greetion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Greetion', new_greetion_path %>
