<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @greetion.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @greetion.message %>
</p>

<%= link_to 'Edit', edit_greetion_path(@greetion) %> |
<%= link_to 'Back', greetions_path %>
