<p id = "notice"><%= notice %></p>

<%= form_with(model: @contact, local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1>お問い合わせ</h1>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

   <div class="action">
      <%= form.submit "送信" %>
  </div>
<% end %>

<h2>お問い合わせ一覧</h2>
<table>
  <tr>
    <th>お名前</th>    
    <th>メールアドレス</th>    
    <th>お問い合わせ内容</th>
  </tr>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.content %></td>
    </tr>
  <% end %>
</table>

<br><br>

<%= link_to "お問い合わせ一覧画面にもどる", contacts_path %>